In [1]:
import pandas as pd

In [6]:
pth = "../data/SS_cluster1 .tsv"

ss1 = pd.read_csv(pth, sep='\t')

In [10]:
ss1.sort_values('num_samples', ascending=False).head()

        gene  num_samples                                    list_of_samples
405  TMEM59L           17  TCGA-WK-A8XT-01, TCGA-X6-A8C7-01, TCGA-Z4-AAPF...
91     CRLF1           17  TCGA-WK-A8XT-01, TCGA-X6-A8C7-01, TCGA-Z4-AAPF...
348      SCX           16  TCGA-WK-A8XT-01, TCGA-X6-A8C7-01, TCGA-Z4-AAPF...
357   SHISA2           16  TCGA-WK-A8XT-01, TCGA-X6-A8C7-01, TCGA-Z4-AAPF...
168   GLT8D2           16  TCGA-WK-A8XT-01, TCGA-X6-A8C7-01, TCGA-Z4-AAPF...

In [ ]:
# TMEM59L
# This gene encodes a predicted type-I membrane glycoprotein. The encoded protein may play a role in functioning of the central nervous system

# CRLF1
#Cytokine receptor subunit, possibly playing a regulatory role in the immune system and during fetal development. May be involved in nervous system development

In [11]:
pth = "../data/SS_cluster2 .tsv"

ss2 = pd.read_csv(pth, sep='\t')

In [19]:
ss2.sort_values('num_samples', ascending=False).head(10)

        gene  num_samples                                    list_of_samples
53     CRLF1           11  TCGA-DX-A7EO-01, TCGA-DX-A7EQ-01, TCGA-DX-A7ER...
222      SCX           11  TCGA-DX-A7EO-01, TCGA-DX-A7EQ-01, TCGA-DX-A7ER...
72    DNM3OS           11  TCGA-DX-A7EO-01, TCGA-DX-A7EQ-01, TCGA-DX-A7ER...
144    MEOX2           10  TCGA-DX-A7EO-01, TCGA-DX-A7ER-01, TCGA-DX-AB3B...
141     MEG3           10  TCGA-DX-A7EO-01, TCGA-DX-A7EQ-01, TCGA-DX-A7ER...
255  TMEM59L           10  TCGA-DX-A7EO-01, TCGA-DX-A7EQ-01, TCGA-DX-A7ER...
55    CTAG1A            9  TCGA-DX-A7EO-01, TCGA-DX-A7EQ-01, TCGA-DX-AB3B...
16     BARX1            9  TCGA-DX-A7EO-01, TCGA-DX-A7EQ-01, TCGA-DX-AB3C...
176    PDZD4            9  TCGA-DX-A7EO-01, TCGA-DX-A7EQ-01, TCGA-DX-A7ER...
54    CRTAC1            8  TCGA-DX-A7EQ-01, TCGA-DX-A7ER-01, TCGA-DX-AB3C...

In [16]:
pth = "../data/SS_cluster3 .tsv"

ss3 = pd.read_csv(pth, sep='\t')

In [21]:
ss3.sort_values('num_samples', ascending=False).head(10)

          gene  num_samples                                    list_of_samples
44      DNM3OS            8  TCGA-FX-A8OO-01, TH03_0156_S01, THR31_1393_S01...
115     OLFML1            8  TCGA-FX-A8OO-01, TH03_0156_S01, THR31_1393_S01...
90       MEOX2            8  TCGA-FX-A8OO-01, TH03_0156_S01, THR31_1393_S01...
166      TBX18            8  TCGA-FX-A8OO-01, TH03_0156_S01, THR31_1393_S01...
132    RASL11B            8  TCGA-FX-A8OO-01, TH03_0156_S01, THR31_1393_S01...
186  ZFHX4-AS1            8  TCGA-FX-A8OO-01, TH03_0156_S01, THR31_1393_S01...
109      NR2F2            7  TCGA-FX-A8OO-01, THR31_1393_S01, THR39_1363_S0...
117       OSR1            7  TCGA-FX-A8OO-01, TH03_0156_S01, THR39_1363_S01...
33       CRLF1            7  TCGA-FX-A8OO-01, TH03_0156_S01, THR31_1393_S01...
169       TLE1            7  TH03_0156_S01, THR31_1393_S01, THR39_1363_S01,...